<template>
  <div id="app">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-button" v-show="notHome">
            <button class="mdl-layout-icon mdl-button mdl-js-button mdl-button--icon"
                     v-on:click="back">
                <i class="material-icons">arrow_back</i>
            </button>
          </div>
          <div class="mdl-layout-spacer"></div>
          <span class="mdl-layout-title">{{ currentPage.title }}</span>
          <i class="material-icons">{{ currentPage.icon }}</i>
          <div class="mdl-layout-spacer"></div>
        </div>
        <div class="mdl-layout-spacer"></div>
      </header>
      <div class="mdl-layout__content">
        <router-view/>
      </div>
    </div>
  </div>
</template>

<script>
require('mdl/material.min.css');
require('material-icons/iconfont/material-icons.css');
require('mdl');

export default {
  name: 'App',
  computed: {
    notHome() {
      return this.$route.name !== 'search';
    },
    currentPage() {
      switch (this.$route.name) {
        case ('search'): return { title: '查一查', icon: 'search' };
        case ('definition'): return { title: '定义', icon: 'collections_bookmark' };
        case ('ocr-results'): return { title: '拍一拍', icon: 'camera_alt' };
        default: return { title: '词典', icon: '' };
      }
    },
  },
  methods: {
    back() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
}

header {
  background-color: #4DBA87;
  color: black;
  padding: 0;
}

.mdl-layout__header-row {
  padding: 0
}
</style>
