<template>
  <div>
    <div class="mdl-card mdl-shadow--4dp">
      <div class="mdl-card__title" v-bind:style="{ 'background-image': background }" v-bind:class="{ 'mdl-card__title--expanded mdl-shadow--2dp': background }">
        <h2 class="mdl-card__title-text">
          <span v-if="definition.id">{{ definition.word }}</span>
          <span v-else>加载中...</span>
        </h2>
      </div>

      <div class="mdl-card__supporting-text">
        <span v-if="definition.id">{{ definition.definition }}</span>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect"
                v-on:click="toggleStar">
          <i class="material-icons">star{{ !definition.isStarred ? '_border' : '' }}</i>
        </button>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <div class="mdl-textfield mdl-js-textfield" id="feedback-textfield">
          <input class="mdl-textfield__input" type="text" id="feedback"
                v-model="feedbackBody" v-on:keyup.enter="submitFeedback">
          <label class="mdl-textfield__label" for="feedback">我有话说</label>
        </div>
        <a class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
            v-on:click="submitFeedback" v-show="!submittingFeedback">
          <i class="material-icons">send</i>
        </a>
        <p id="spinner" class="mdl-spinner mdl-js-spinner is-active" v-show="submittingFeedback"></p>

      </div>
    </div>

    <div id="toast" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
      </div>
  </div>
</template>

<script>
import { fetchDefinitionByID, postDefinitionToggleStar, postFeedback } from '@/api';

require('mdl/material.min.css');
require('mdl');
require('material-icons/iconfont/material-icons.css');


export default {
  name: 'Definition',
  props: ['id'],
  data: () => ({
    definition: {},
    feedbackBody: '',
    submittingFeedback: false,
  }),
  methods: {
    populateDefinition(id) {
      this.definition = {};
      fetchDefinitionByID(id)
        .then((definition) => {
          this.definition = definition;
        });
    },
    toggleStar() {
      this.definition.isStarred = !this.definition.isStarred;
      postDefinitionToggleStar(this.id);
    },
    submitFeedback() {
      this.submittingFeedback = true;
      postFeedback({ body: this.feedbackBody })
        .then(() => {
          document.getElementById('toast').MaterialSnackbar.showSnackbar({
            message: '听到了，谢谢！',
          });
          this.submittingFeedback = false;
          this.feedbackBody = '';
        })
        .catch(() => {
          document.getElementById('toast').MaterialSnackbar.showSnackbar({
            message: '无法发送回馈，请再试一下',
          });
          this.submittingFeedback = false;
        });
    },
  },
  computed: {
    background() {
      if (this.definition.imageURL) {
        return `url("${this.definition.imageURL}")`;
      }
      return '';
    },
  },
  mounted() {
    this.populateDefinition(this.id);
    /* eslint-disable no-undef */
    componentHandler.upgradeElement(document.getElementById('feedback-textfield'));
    componentHandler.upgradeElement(document.getElementById('spinner'));
    componentHandler.upgradeElement(document.getElementById('toast'));
    /* eslint-enable */
  },
  watch: {
    id(newID) {
      this.populateDefinition(newID);
    },
  },

};
</script>

<style scoped>
.mdl-card {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.mdl-card__title {
  transition: all 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
}

.mdl-card__title--expanded {
  height: 75vw;
}

.mdl-card__actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mdl-textfield {
  width: 100%;
}

/* anything above Tablet */
@media screen and (min-width: 768px) {
  .mdl-card {
    width: 50vw;
  }
  .mdl-card__title--expanded {
    height: 37.5vw;
  }
}

</style>
