<template>
  <div class="mdl-grid">
    <div class="mdl-shadow--4dp mdl-cell--4-col mdl-cell--4-col-tablet" id="query-image">
      <img alt="OCR Query" v-bind:src="currentImageUrl">
      <div v-if="loading" id="loading-ocr" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    </div>

    <Results class="mdl-cell--7-col mdl-cell--4-col-tablet mdl-cell--1-offset-desktop" v-bind:results="queryResults"></Results>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Results from '@/components/Results.vue';
import { postImageQuery } from '@/api';

require('mdl');
require('mdl/material.min.css');

export default {
  components: {
    Results,
  },
  data: () => ({
    queryResults: [],
    currentImageUrl: '',
    loading: true,
  }),
  computed: {
    ...mapGetters(['currentImage']),
  },
  watch: {
    $route: 'fetchImage',
  },
  mounted() {
    // eslint-disable-next-line no-undef
    componentHandler.upgradeElement(document.getElementById('loading-ocr'));

    this.fetchImage();
  },
  methods: {
    fetchImage() {
      if (this.currentImage) {
        // if there's an image from the previous page in store, read it
        const fileReader = new FileReader();
        const self = this; // for inside the event handler context
        fileReader.addEventListener('load', () => {
          self.currentImageUrl = fileReader.result;
          self.fetchResults();
        });
        fileReader.readAsDataURL(this.currentImage);
      } else {
        this.$router.replace('/');
      }
    },
    fetchResults() {
      const base64Image = this.currentImageUrl.replace(/^data:image\/.*;base64,/, '');
      postImageQuery(base64Image)
        .then((results) => {
          this.queryResults = results;
          this.loading = false;
        });
    },
  },
};
</script>

<style scoped>
#query-image {

}

#query-image img {
  width: 100%;
}

.mdl-grid {
  justify-content: center;
  align-items: center;
}
</style>
