<template>
  <div>
    <!-- Search bar (the entire .mdl-grid) -->
    <div class="mdl-grid">
      <div class="mdl-cell--4-col" id="search-bar">
        <i class="material-icons">search</i>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="search-query">
          <input id="query" type="text" class="mdl-textfield__input"
                 v-model="query" v-on:keyup="search()">
          <label for="query" class="mdl-textfield__label">输入词语...</label>
        </div>

        <!-- Camera button with input[type=file] -->
        <div class="mdl-button mdl-js-button mdl-button--icon" id="upload-button">
          <i class="material-icons">camera_alt</i>
          <input type="file" accept="image/*" id="upload-form" v-on:change="launchOcrView">
        </div>

      </div>
    </div>


    <div v-show="loading" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    <!-- Results -->
    <Results v-bind:results="results" v-if="results.length > 0"></Results>
    <div v-else-if="query.length > 0 && !loading">找不到什么 :(</div>
    <div v-else class="mdl-card mdl-shadow--2dp" id="greeting">
      <h1>搜索一下吧</h1>
    </div>

  </div>
</template>

<script>
import { debounce } from 'lodash';
import { fetchQueryResults } from '@/api';

import Results from '@/components/Results.vue';

// mdl stuff
require('mdl/material.min.css');
require('material-icons/iconfont/material-icons.css');
require('mdl');

export default {
  name: 'Search',
  components: {
    Results,
  },
  methods: {
    search() {
      this.loading = true;
      // if there isn't any query, clear results, stop 'loading'
      // and, consequently, display the welcome message.
      if (this.query.length === 0) {
        this.results = [];
        this.loading = false;
        return;
      }
      // otherwise, call a rate-limited function produced by debounce.
      const self = this; // for the debounce function to access the view
      const debounced = debounce(() => {
        fetchQueryResults(self.query)
          .then((results) => {
            self.results = results;
            self.loading = false;
          });
      }, 500, { leading: true }); // 500 seconds until next call available
      debounced();
    },
    launchOcrView({ target }) {
      // save the current image file to store and launch the ocr view with it.
      this.$store.commit('changeFile', { newFile: target.files[0] });
      this.$router.push('ocr-results');
    },
  },
  data: () => ({
    query: '',
    loading: false,
    results: [],
  }),
  mounted() {
    /* eslint-disable no-undef */
    componentHandler.upgradeElement(document.getElementById('search-query'));
    /* eslint-enable */
  },
};
</script>

<style scoped>
.mdl-grid {
  align-items: center;
  justify-content: center;
}
#search-query {
  flex-grow: 1;
  margin-left: 1vw;
  margin-right: 1vw;
}
#search-bar {
  display: flex;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

/* hack for styled upload button */
#upload-button {
  position: relative;
}
/* the upload form is massive and invisible, so it's always triggered */
#upload-form {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.mdl-progress {
  width: 100%;
}

#greeting {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
