<template>
  <div class="2">
    <div class="mdl-shadow--2dp" id="results-card">
      <ul class="mdl-list">
        <ResultItem v-for="result in results" v-bind:key="result.id"
              v-bind:title="result.word"
              v-bind:itemid="result.id"
              v-bind:synopsis="result.pos"
              v-bind:isStarred="result.isStarred" />
      </ul>
    </div>
  </div>
</template>

<script>

import ResultItem from '@/components/ResultItem.vue';

require('material-icons/iconfont/material-icons.css');
require('mdl/material.min.css');
require('mdl');

export default {
  name: 'Results',
  props: ['results'],
  data: () => ({
  }),
  components: {
    ResultItem,
  },
};
</script>

<style scoped>
#results-card {
  padding: 20px;

}
</style>
