<template>
    <li class="mdl-list__item mdl-list__item--two-line mdl-js-ripple-effect">
      <span class="mdl-list__item-primary-content" v-on:click="redirect">
        <i class="material-icons mdl-list__item-avatar">text_format</i>
        <span>{{ title }}</span>
        <span class="mdl-list__item-sub-title">{{ synopsis }}</span>
      </span>
      <div class="mdl-list__item-secondary-content">
        <a class="mdl-list__item-secondary-item mdl-button mdl-js-button mdl-button--icon"
            v-on:click="toggleStar">
          <i class="material-icons">star{{ !isStarred ? '_border' : '' }}</i>
        </a>
      </div>
    </li>
</template>

<script>
import { postDefinitionToggleStar } from '@/api';

require('mdl/material.min.css');
require('mdl');

export default {
  props: ['title', 'synopsis', 'itemid', 'isStarred'],
  methods: {
    redirect() {
      this.$router.push(this.resultURL);
    },
    toggleStar() {
      this.isStarred = !this.isStarred;
      postDefinitionToggleStar(this.itemid);
    },
  },
  computed: {
    resultURL() {
      return ''.concat('/definition/', this.itemid);
    },
  },
};
</script>

<style scoped>
a {
  text-decoration: none;
}
</style>
